.banner-custom {
  color: white;
  background-color: #19588E;
  position: fixed;
  width: 100%;
  top: 0;
}

.banner-text {
  color: white;
  font-weight: 400;
  font-size: 15pt;
  text-decoration: none;
  opacity: 0.95;
}

.banner-text:hover {
  color: white;
  font-weight: 600;
  text-decoration: none;
}

.navbar li.active > a {
  color: black;
  background-color: yellow;
}

.main-banner-text, .main-banner-text:hover {
  color: white;
  font-weight: 500;
  font-size: 20pt;
  text-decoration: none;
}

.head-custom {
  text-align: center;
  color: white;
  background-image: url("../fonts/building.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  padding-top: 14rem;
  padding-bottom: 14rem;
}

.head-custom h1 {
  font-size: 3rem;
  line-height: 3rem;
}

.technology, .purpose {
  background-color: #7CC244;
  padding-top: 7rem;
  padding-bottom: 7rem;
  color: #0A4165;
}

.technology h1 {
  font-size: 4rem;
  text-align: center;
}

.technology h2 {
  font-size: 2rem;
  text-align: center;
}

.tech-icon {
  width: 8rem;
  height: auto;
  margin: 1rem;
}

.card-body {
  text-align: center;
}

.location {
  text-align: center;
  color: white;
  background-image: url("../fonts/sanfrancisco.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% auto;
  padding-top: 16rem;
  padding-bottom: 16rem;
}

.location h1 {
  font-size: 3rem;
  padding-top: 80px;
  text-align: right;
}

.location h4 {
  text-align: right;
}

.purpose-text {
  font-size: 1.5rem;
}

.listings {
  background-color: #19588E;
  padding-top: 6rem;
  padding-bottom: 6rem;
  color: white;
}

.padding-top {
  padding-top: 3rem;
}

.loading {
  text-align: center;
  height: 100%;
  width: 100%;
  position: fixed;
  display: block;
  background-color: white;
  padding-top: 25%;
}

.hide {
  display: none;
}

tr {
  border-top: 2px solid #dee2e6;
}

body {
  height: 100%;
  padding-top: 65px;
  background-color: #7CC244;
  position: relative;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}
